/*
Style générique en haut et style spécifique après.
*/

* {
    overflow: auto;
}

body{
    background-color: #8ba1bb;
}

div.contenu{
    background-color: white;
    margin: 40px 8x 40px 8px;
    padding: 0px 8px 20px 8px;
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.1);
    overflow: visible;
}

p.categorie{
    background-color: black;
    color: white;
    display: inline-block;
    padding:  8px 18px;
    margin-top: -15px;
    margin-bottom: 0;
}

h1.title{
    text-align: center;
    margin-bottom: 12px;
    margin-top: 10px;
}

.center{
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

p.description{
    max-width: 400px;
    display: inline-block;
    font-size: 12px;
}

div.categorie{
    margin-bottom: -18px;
    overflow: visible;
    margin-bottom: 10px;
} 

div.separateur{
    background-color: black;
    height: 1px;
    width: 100px;

    margin-left: auto;
    margin-right: auto;
}

table.info{
    position: absolute; 
    bottom: 0; width: 100%; 
    background-color: #6c829dc0;
    height: 50px;
}

table.info td{
    text-align: center;
    vertical-align: top;
    font-size: 12px;
}

table.info th{
    vertical-align: bottom;
    font-size: 14px;
    padding-bottom: 8px;
}

img.info{
    display: block;
    max-height: 400px;
    width: 100%;
    object-fit: cover;
    min-height: 200px;
    background-color: gray;
}

div.colonne{
    width: 45%;
    margin-top: 20px;
}

div.colonne1{
    display: inline-block;
    margin-right: 10%;
}

div.colonne2{
    float: right;
}

div.colonne h2{
    text-align: center;
    border-bottom: 5px solid #6c829d;
    font-size: 15px;
    text-transform: uppercase;
    padding-bottom: 5px;
}

div.ingredients p{
    border: 1px solid lightgray;
    margin: 10px;
    text-align: center;
    font-size: 14px;
    padding: 8px 0;
    margin-top: 4px;
    margin-bottom: 0;
}

table.preparation p.numero{
    background-color: #6c829d;
    color: white;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding-top: 4px;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 0;
}

table.preparation td{
    vertical-align: top;
}

table.preparation td.preparation_etape{
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 10px;
}

table.preparation tr{
    height: 40px;
} 


/* Style pour les ordinateurs */

@media only screen and (min-width: 768px) {
    div.contenu{
        margin: 40px 10% 40px 10%;
        padding: 0px 8px 20px 8px;
        min-width: 360px;
    }

    table.info{
        height: 80px;
    }

    table.info td{
        font-size: 14px;
    }
    
    table.info th{
        font-size: 16px;
    }
    
}


@media only screen and (min-width : 900px) {
    
    div.contenu{
        
        margin-left: auto;
        margin-right: auto;
        width : 675px;

    }
    
}